<a href="https://colab.research.google.com/github/ivandreeevich/Excel_Google_tabs_course/blob/main/%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B_Python(Karpov_Courses).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
13 + 17

30

In [ ]:
17 +- 12

5

In [ ]:
my_name = "Ivan"
my_age = 28

In [ ]:
print(my_name)
print(my_age)

Ivan
28

In [ ]:
my_name = "Kira"
my_age = 25
my_full_age = 25.65
like_python = True

In [ ]:
print(my_name)
print(my_age)
print(my_full_age)
print(like_python)

Kira
25
25.65
True

In [ ]:
if like_python == True:
    print(my_name)
    print(my_age)

Kira
25

In [ ]:
if like_python:
    print(my_name)
    print(my_age)

Kira
25

# ПЕРЕМЕННЫЕ И ОСНОВНЫЕ ТИПЫ ДАННЫХ

##### Задача 1
Давайте запрограммируем кота! Создайте три переменные: `cat_name`  со строкой как минимум из двух символов `cat_age` с неотрицательным числом `is_fluffy` с `True` или `False`
Давайте начнем с создания переменных. Как мы уже выяснили в лекции, для создания переменных мы пишем название переменной, ставим знак равенства и пишем значение, которое мы хотим сохранить в переменную, например:

* `my_name = 'Anatoly'`
* `my_lovely_course_1 = 'Python'`
* `has_cat = True`
* `cat_age = 12`

При выборе имени переменной давайте придерживаться определенных правил, чтобы наш код выполнялся без ошибок и его было удобно читать:

* имя переменной начинается с буквы;
* для имен переменных будем использовать маленькие буквы с подчеркиванием вместо пробела;
* имя переменной не должно совпадать с названием ключевых слов языка Python. * Например, назвать переменную `if` или `True` — плохая идея. Ключевых слов не так много, с частью из них мы скоро познакомимся.


**Задание:**

Давайте запрограммируем кота! Создайте три переменные:
* `cat_name`  со строкой как минимум из двух символов
* `cat_age` с неотрицательным числом
* `is_fluffy` с `True` или `False`

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#Задане_запрограмируем_кота

cat_name = "Robert" #кличка_кота
cat_age = 11        #возраст_кота
is_fluffy = True    #кот_пушистый?

In [ ]:
print(cat_name)
print(cat_age)
print(is_fluffy)

Robert
11
True

In [ ]:
#задание_написать_программу_для_поиска_гипотенузы

a = 3 #катет_треуголника
b = 4 #катет_треуголника
c = (a**2 + b**2)**0.5

In [ ]:
print(c)

5.0

##### Задача 2
Давайте напишем программу для поиска длины гипотенузы. В переменных `a` и `b` уже записаны длины катетов прямоугольного треугольника. Создайте новую переменную `c` и сохраните в нее длину гипотенузы этого треугольника.

In [ ]:
#задание_написать_программу_для_поиска_гипотенузы

a = 6 #катет_треуголника
b = 8 #катет_треуголника
c = (a**2 + b**2)**0.5

print(c)

10.0

##### Задача 3
В переменной `father_age` хранится возраст отца, а в переменной `son_age` — возраст сына. Посчитайте, через сколько лет отец будет вдвое старше сына. Результат сохраните в переменную `result`.

In [ ]:
father_age = 23
son_age = 5
result = (father_age - 2*son_age)

print(result)

13

##### Задача 4
Заданы вещественные числа `a, b и с` – стороны треугольника. Вычислите периметр и площадь треугольника. Результат сохраните в переменные `perimeter` и `area` соответственно.

In [ ]:
a = 3
b = 4
c = 5
p = (a + b + c) / 2
s = (p*(p-a)*(p-b)*(p-c))**0.5

print(p)
print(s)

6.0
6.0

In [ ]:
a = 3
b = 4
c = 5
perimeter = (a + b + c)
area = (perimeter/2*(perimeter/2-a)*(perimeter/2-b)*(perimeter/2-c))**0.5

print(perimeter)
print(area)

12
6.0

##### Задача 5
В переменную n сохранено целое число — количество секунд. Напишите программу, которая конвертирует заданное количество секунд n в часы, минуты и секунды. Результат сохраните в переменные `hours, minutes, seconds`.То есть сначала нужно посчитать, сколько в число `n` поместилось целых часов, целых минут и сколько после этого осталось секунд.

In [ ]:
n = 23810

hours = n//3600
minutes = n//60%60
seconds = n%60

print(hours)
print(minutes)
print(seconds)

6
36
50

##### Задача 6
В переменной `price_new` хранится цена килограмма бананов в числовом формате, а в переменной `price_old` — цена килограмма бананов год назад. Вычислите, на сколько процентов по модулю изменилась цена за год. Результат сохраните в переменную `result`. Результат округлите до двух знаков после запятой.

In [ ]:
price_new = 54
price_old = 94
procents = ((price_new - price_old)/(price_old / 100))
result = abs(round(procents,2))

print((result))

42.55

##### Задача 7
В Python мы можем изменять тип данных, которые хранятся в нашей переменной. Такая операция называется преобразованием типов. Для преобразования типов Python предоставляет ряд встроенных функций:

* `int()`: преобразует значение в целое число
* `float()`: преобразует значение в число с плавающей точкой
* `str()`: преобразует значение в строку
* `bool()`: преобразует в логический тип

**Задание:**

Создайте переменные:
* `a` со значением `5` типа `int`,
* `b` со значением `"10"` типа `str`,
* `c` со значением `True` типа `bool`.
В переменную `my_sum` сохраните сумму трех переменных, которые вы создали, преобразовав `b` и `с` к типу `int`.

In [ ]:
a = int(5)
b = str(10)
c = bool(True)
my_sum = a + int(b) + int(c)

print(a)
print(b)
print(c)
print(my_sum)

5
10
True
16

##### Задача 8

В переменной `a` сохранено число с десятичной частью но в формате строки, например `'3.14'`. В переменную `с` сохраните целую часть из числа в переменной `a`.

In [ ]:
a = str(a)
c = int(float(a))

print(c)

5

##### Задача 9
В переменной `х` уже сохранено целое положительное число. Вычислите `x + x0x0x`. Результат сохраните в переменную `result`.

То есть, если `x = 2`, то нужно вычислить `2 + 20202`.

In [ ]:
x = 10
x0x0x = int(str(x) + "0" + str(x) +"0"+ str(x))
result = x + x0x0x

print(result)

10010020

##### Задача 10

Переменные и значения можно сравнивать между собой при помощи операций сравнения:

* `x < y — x строго меньше y,`
* `x <= y — x меньше или равно y,`
* `x > y — x строго больше y,`
* `x >= y — x больше или равно y,`
* `x == y — x равно y,`
* `x != y — x не равно y.`

Сравнивать можно и числа, и строки. Результат сравнения — это `True` или `False`, в зависимости от того, верное или неверное выражение написано. Со сравнением чисел все понятно:

* `3 > 2 # True`
* `3 < -5 # False`
* `5 != 6 # пять не равно шести, это правда, поэтому здесь получаем True`
* `10 == 10 #True`

Сравнение строк устроено чуть хитрее. Начнем с простого и рассмотрим сравнение двух одинаковых строк: `'abc' == 'abc'` вернет нам `True`. Давайте теперь разберемся, почему `'abc' > 'aba'` вернет нам `True`. Сравнение строк в Python происходит лексикографически, то есть посимвольно слева направо. Если символы совпадают, то Python переходит к следующему символу в строке и продолжает сравнение до тех пор, пока не найдет отличие между символами в строке. Если символы в строках различаются, то Python определяет, какая строка "больше" (по алфавиту, в прямом смысле по номеру в алфавите). Если символы до данной позиции совпадают, то строка, у которой следующий символ больше, считается "большей". При этом, если буквы совпадают, то также учитывается размер, маленькая буква больше большой `'a' > 'A'` . Рассмотрим примеры:

* `str1 = 'hello'`
* `str2 = 'world'`
* `result = str1 < str2`
* `print(result)`

**В результате будет значение True, так как код символа `'h'` меньше, чем код символа `'w'`**

* `str1 = 'apple'`
* `str2 = 'banana'`
* `result = str1 > str2`
* `print(result)`

**В результате будет значение `False`, так как первый символ `'a'` меньше, чем первый символ `'b'`**

* `str1 = 'abc'`
* `str2 = 'aba'`
* `result = str1 > str2`
* `print(result)`

**В результате будет значение `True`, так как последний символ `'с'`больше, чем символ `'a'`**

**Задание:**

Укажите все сравнения, в результате которых мы получим True.
- [x] 'ИВАН' < 'иван'
- [x] 'Python' < 'R'
- [x] 'big number' != 'bug number'
- [ ] 'ЯЯЯ' == 'Я Я'
- [ ] 'игра' >= 'икра'

##### Задача 11

При работе с логическими условиями можем использовать логические операции `AND`, `OR` и `NOT`.

1. Оператор `AND` — возвращает `True`, если оба выражения верные, и `False` в противном случае.

* `a = 5`
* `b = 10`
* `c = 15`

`print(a < b and b < c) # вернет True, оба условия выполнились`

`print(a < b and b > c) # вернет False, одно уcловие не выполнилось`

2. Оператор `OR` — возвращает `True`, если хотя бы одно из выражений истинное, и `False` в противном случае.

`age = 17`

* `print(age < 18 or age > 60) # вернет True, первое уcловие выполнилось`

* `print(age < 16 or age > 60) # вернет False, ни одно уcловие не выполнилось`  

3. Оператор `NOT` — инвертирует логическое выражение. Если выражение истинное, то результат будет `False`, и наоборот.

`s_admin = True`

* `print(not is_admin) # вернет False`

**Задача:**

В переменной `m` хранится целое положительное число — продолжительность сна в минутах. Если продолжительность сна составит от 7 до 9 часов включительно, то в переменную `optimal_sleep_duration` сохраните значение `True`. В противном случае присвойте это переменной значение `False`.

**Пример:**

`m = 410`  

`optimal_sleep_duration = False`

`m = 500`

`optimal_sleep_duration = True`

In [ ]:
m = 500
optimal_sleep_duration = ( m / 60 >= 7 and m / 60 <= 9 )
print(optimal_sleep_duration )

True

##### Задача 12

В переменной x хранится целое число. Проверьте, делится ли это число без остатка на 3 и на 7. Результат сохраните в переменную `result`. Переменная `result` должна иметь логический тип данных.

`Если x = 7, то  result = False. Если x = 21, то result = True.`

In [ ]:
x = 21
result = ( x % 3 == 0 and x % 7 == 0)
print(result)

True

##### Задача 13

**Хорошо ли вы умеете пользоваться логическим типом данных? Сопоставьте выражения и их значения.**
* `a = False - True`      # ответ: 0-1=-1
* `b = True + 0`           # ответ: 1+0 =1
* `c = bool(False + 1)` # ответ: bool(0+1)=True  
* `d = True + 0.1`        # ответ:  1+0.1=1.1
* `e = True ** 0.5`       # ответ:  корень из 1 = 1  
* `f = False ** True`    # ответ:  0 в степени 1 = 0
* `g = 2 == True`        # ответ: значение равно 2, а должно было быть 1, значит ответ False

##### Задача 14

Мы уже знаем, что для создания строки достаточно использовать двойные или одинарные кавычки. Все, что находится внутри ковычек, будет восприниматься как строка.

*`string1 = 'Hello, world!'`
*`string2 = "I'm a Python developer."`

Если мы выведем string1 и string2 на печать при помощи функции print(), то увидим на экране все символы, которые мы поместили внутри ковычек. Но это не всегда так. В Python, как и в большинстве языков программирования, в строках могут быть использованы специальные символы. Они называются экранированными последовательностями.

Вот некоторые из наиболее часто используемых экранированных последовательностей в Python:

* `\n — перенос строки`

* `\t — табуляция`  

* `\' — одинарная кавычка`

* `\" — двойная кавычка`

* `\\ — обратный слеш`

**Разберем их использование сразу на примере. Напечатайте при помощи print() строку:**

`string1 = '\'Манчестер Юнайтед\' - чемпион Англии!\n2013'
print(string1)`

Таким образом, когда в строке появляется обратный слэш \, программа ожидает после него специальный символ. Сам обратный слэш не выводится на печать. А символ после слэша уже интерпретируется, например, как перенос строки или отступ. Посмотрите еще примеры:

* `print("Hello\nworld!")`
* `print("C:\\Users\\user\\Desktop\\file.txt")`
* `print("Name:\tJohn")`
* `print('It\'s a beautiful day!')`
* `print("It's a beautiful day!") # так тоже можно`

**Задание:**

Сохраните в переменную square строку, которая выводит на экран прямоугольник 4 х 4, сформированный из звездочек, разделенных пробелом.

In [ ]:
print("Hello\nworld!")
print("C:\\Users\\user\\Desktop\\file.txt")
print("Name:\tJohn")
print('It\'s a beautiful day!')
print("It's a beautiful day!")

Hello
world!
C:\Users\user\Desktop\file.txt
Name:	John
It's a beautiful day!
It's a beautiful day!

In [ ]:
square = "* * * *\n* * * *\n* * * *\n* * * *\n"
print(square)

* * * *
* * * *
* * * *
* * * *

# СПИСКИ И МНОЖЕСТВА

In [ ]:
student_1 = "Ivan"
student_2 = "Nikita"
student_3 = "Petr"

In [ ]:
python_students = [student_1, student_2, student_3] #СПИСОК ОБРОМЛЯЕТСЯ В КВАДРАТНЫЕ СКОБКИ

In [ ]:
python_students

['Ivan', 'Nikita', 'Petr']

In [ ]:
my_list = [ 1, 2, 3, "hi", True] # список внутри себя может содержать другие типы данных

In [ ]:
my_list

[1, 2, 3, 'hi', True]

In [ ]:
student_1 = "Ivan"
student_2 = "Nikita"
student_3 = "Petr"
student_4 = "Ignat"
student_5 = "Dima"
student_6 = "Pavel"

In [ ]:
sql_students = [student_1, student_2, student_3, student_4, student_5, student_6]

In [ ]:
sql_students

['Ivan', 'Nikita', 'Petr', 'Ignat', 'Dima', 'Pavel']

In [ ]:
# индексация списков
# В питоне индексация списков начинается с 0
sql_students[0]

'Ivan'

In [ ]:
sql_students[4]

'Dima'

In [ ]:
 sql_students[0:2] #берем из списка элемент под номерами 0 и 1, 2 не входит!

['Ivan', 'Nikita']

In [ ]:
sql_students[0:4] # берем из списка элементы под номерами от 0 до 3, 4 не берем!

['Ivan', 'Nikita', 'Petr', 'Ignat']

In [ ]:
sql_students[1:3] #берем из списка элеметты под номерами 1(2),2(3), 3(4) не берем!

['Nikita', 'Petr']

In [ ]:
sql_students[:] # выведет весь список

['Ivan', 'Nikita', 'Petr', 'Ignat', 'Dima', 'Pavel']

In [ ]:
sql_students[1:] #отбрасываем первый элемент

['Nikita', 'Petr', 'Ignat', 'Dima', 'Pavel']

In [ ]:
sql_students[:3] # выведет три самых первых элемента

['Ivan', 'Nikita', 'Petr']

In [ ]:
sql_students[2:5] # берем из списка 2(3) и 4(5), 5 выколот (не берем)

['Petr', 'Ignat', 'Dima']

In [ ]:
sql_students[5:2] #выведет квадратные скобки

[]

In [ ]:
sql_students[4:1] #выведет квадратные скобки

[]

In [ ]:
sql_students[0:10] #выведет весь список

['Ivan', 'Nikita', 'Petr', 'Ignat', 'Dima', 'Pavel']

In [ ]:
my_index = 1 #заводим переменную мой индекс равную 1

In [ ]:
sql_students[my_index] #эту переменную вводим как индекс

'Nikita'

In [ ]:
#вводим две переменные, старт и стоп
start_i = 0
end_i = 2

In [ ]:
sql_students[start_i:end_i] #добавлем их как индексы

['Ivan', 'Nikita']

In [ ]:
# что будет если использовать отрицаительные числа для среза?
sql_students[-1] #мы двигаемся задом наперед, справа на лево

'Pavel'

In [ ]:
sql_students[-2] #выводим второй элемент с конца

'Dima'

In [ ]:
sql_students[-6] #выведет ошибку, не найден элемент с индексом -7

'Ivan'

In [ ]:
my_list = list(range(50)) #создать спсиок из 50 элементов, от 0 до 49

In [ ]:
my_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [ ]:
list(range(5)) #выедет список из 5 элеметов от 0 до 4

[0, 1, 2, 3, 4]

In [ ]:
range(5) # функция range получает на старте значения от 0 до 5

range(0, 5)

In [ ]:
my_list = list(range(0, 50)) # получим список от 0 до 49, задаем интнервал от 0 до 50, 50 не  включаем
my_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [ ]:
my_list[15] # нам повезло что индекс и число совпали

15

In [ ]:
my_list = list(range(50,150))
my_list[17]

67

In [ ]:
my_list[10:20] #возмет с 10 индекса до 19 вернет все элементы

[60, 61, 62, 63, 64, 65, 66, 67, 68, 69]

In [ ]:
my_list[:] #вернет нам все элементы списка

[50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149]

In [ ]:
my_list[:20] #вернет нам элементы с 0 до 19, то есть 20 элементов

[50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69]

In [ ]:
my_list[0:10:2] #задает начало и конец нашего списка 0 до 10(9), 10 не входит
#выдаст на список от 50 до 59, с шагом 2

[50, 52, 54, 56, 58]

In [ ]:
my_list[0:10:3] #первый параметр задает старт, второй конец,но не включает его третий шаг

[50, 53, 56, 59]

In [ ]:
my_list[0:10:1] #10 элементов с шагом 1

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59]

In [ ]:
my_list[0:10:-1] #такая запись выдаст квадаратные скобки

[]

In [ ]:
my_list[10:0:-1] #получем запись с конца с шагом -1

[60, 59, 58, 57, 56, 55, 54, 53, 52, 51]

In [ ]:
my_list[::-1] #получем развернутый задом на перед список

[149,
 148,
 147,
 146,
 145,
 144,
 143,
 142,
 141,
 140,
 139,
 138,
 137,
 136,
 135,
 134,
 133,
 132,
 131,
 130,
 129,
 128,
 127,
 126,
 125,
 124,
 123,
 122,
 121,
 120,
 119,
 118,
 117,
 116,
 115,
 114,
 113,
 112,
 111,
 110,
 109,
 108,
 107,
 106,
 105,
 104,
 103,
 102,
 101,
 100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50]

## Методы списков

In [ ]:
sql_students.append("Kirill") #метод append - добаваляет в конец списка имя Kirill

In [ ]:
sql_students #выводим имя Kirill в конец списка

['Ivan', 'Nikita', 'Petr', 'Ignat', 'Dima', 'Pavel', 'Kirill']

In [ ]:
python_students

['Ivan', 'Nikita', 'Petr']

In [ ]:
python_students.append("Kim")  # добавили имя Kim в конец списка, добавляет только один элемент

In [ ]:
python_students # выводим имя Kim в конец списка

['Ivan', 'Nikita', 'Petr', 'Kim']

In [ ]:
sql_students.extend(["Jan","Harry"]) #добавим в конец списка два имени, метод extend обавляет в конец списка несколко элементов

In [ ]:
sql_students

['Ivan', 'Nikita', 'Petr', 'Ignat', 'Dima', 'Pavel', 'Kirill', 'Jan', 'Harry']

In [ ]:
sql_students.extend(python_students) #добавил в конец списка другой список

In [ ]:
sql_students

['Ivan',
 'Nikita',
 'Petr',
 'Ignat',
 'Dima',
 'Pavel',
 'Kirill',
 'Jan',
 'Harry',
 'Ivan',
 'Nikita',
 'Petr',
 'Kim']

In [ ]:
sql_students.insert(0, "Eva") #метод показывает номер места, и имя переменной

In [ ]:
sql_students # выведет имя Eva в конец списка

['Eva',
 'Ivan',
 'Nikita',
 'Petr',
 'Ignat',
 'Dima',
 'Pavel',
 'Kirill',
 'Jan',
 'Harry',
 'Ivan',
 'Nikita',
 'Petr',
 'Kim']

In [ ]:
sql_students.insert(0, ["Vera","Fedor"]) #добавим на 0 адрес список из двух имен

In [ ]:
sql_students #два имен списком веведутся в начале списка, то есть вложенный список

[['Vera', 'Fedor'],
 'Eva',
 'Ivan',
 'Nikita',
 'Petr',
 'Ignat',
 'Dima',
 'Pavel',
 'Kirill',
 'Jan',
 'Harry',
 'Ivan',
 'Nikita',
 'Petr',
 'Kim']

In [ ]:
sql_students.pop(0) #метод pop - принемает индекс того элемента который удаляем и выводит его

['Vera', 'Fedor']

In [ ]:
sql_students

['Eva',
 'Ivan',
 'Nikita',
 'Petr',
 'Ignat',
 'Dima',
 'Pavel',
 'Kirill',
 'Jan',
 'Harry',
 'Ivan',
 'Nikita',
 'Petr',
 'Kim']

In [ ]:
sql_students.remove("Ivan") # удаляет из списка имя Ivan, но только его перый номер по индексу

In [ ]:
sql_students #выводим список, но уже без имени Ivan, под первым индексом

['Eva',
 'Nikita',
 'Petr',
 'Ignat',
 'Dima',
 'Pavel',
 'Kirill',
 'Jan',
 'Harry',
 'Ivan',
 'Nikita',
 'Petr',
 'Kim']

## pop() VS remove()

Давайте еще раз остановимся на разнице этих методов. Методы `pop()` и `remove()` применяются для удаления элементов из списков в Python. Метод pop() удаляет и возвращает последний элемент из списка. Если в скобках указать индекс элемента, то будет удален элемент с указанным индексом.

**Например:**

* `fruits = ['apple', 'banana', 'orange']`
* `removed_fruit = fruits.pop()`  `# удалит 'orange' из списка и вернет его`
* `print(fruits)  # ['apple', 'banana']
* `print(removed_fruit)`  `#'orange'`


**А если мы хотим удалить элемент по индексу, то нужно указать индекс в скобках метода:**

* `fruits = ['apple', 'banana', 'orange']`
* `removed_fruit = fruits.pop(1)`  # удалит 'banana' из списка и вернет его
* `print(fruits)`  # ['apple', 'orange']
* `print(removed_fruit)`  # banana


Метод `remove()`, с другой стороны, удаляет первый найденный элемент с указанным значением в списке.

**Например:**

* `fruits = ['apple', 'banana', 'orange']`
* `fruits.remove('banana')  # удалит 'banana' из списка`
* `print(fruits)  # ['apple', 'orange']`


Важно отметить, что если в списке не будет элемента с указанным индексом или значением, методы `pop()` и `remove()` вызовут ошибки. Таким образом, основное различие между методами `pop()` и `remove()` заключается в том, что `pop()` удаляет элемент по индексу, возвращая его значение, а `remove()` удаляет первый найденный элемент с заданным значением.

##### Работа со множествами

In [ ]:
my_set = {1,1,3,4} #создаем сет изспользуя фигурные скобки

In [ ]:
students_set = set(sql_students) # либо созбать сет, подав на вход список

In [ ]:
my_set # в сет попадут только уникальные значения, не может быть две одинаковые строки или числа

{1, 3, 4}

In [ ]:
students_set #в сет попадут только уникальные имена, повторов не будет

{'Dima',
 'Eva',
 'Harry',
 'Ignat',
 'Ivan',
 'Jan',
 'Kim',
 'Kirill',
 'Nikita',
 'Pavel',
 'Petr'}

In [ ]:
sql_students # список будет в квадратных скобаках

['Eva',
 'Nikita',
 'Petr',
 'Ignat',
 'Dima',
 'Pavel',
 'Kirill',
 'Jan',
 'Harry',
 'Ivan',
 'Nikita',
 'Petr',
 'Kim']

In [ ]:
students_set #выдаст ошибку, так как множество не уборядочено, индексы не применимы

{'Dima',
 'Eva',
 'Harry',
 'Ignat',
 'Ivan',
 'Jan',
 'Kim',
 'Kirill',
 'Nikita',
 'Pavel',
 'Petr'}

In [ ]:
[1,2,3,4]

[1, 2, 3, 4]

In [ ]:
{1,1,2,2,3,3,4,4} #только уникальные значения

{1, 2, 3, 4}

In [ ]:
python_students_set = set(python_students)

In [ ]:
sql_students_set = set(sql_students)

In [ ]:
python_students_set

{'Ivan', 'Kim', 'Nikita', 'Petr'}

In [ ]:
sql_students_set

{'Dima',
 'Eva',
 'Harry',
 'Ignat',
 'Ivan',
 'Jan',
 'Kim',
 'Kirill',
 'Nikita',
 'Pavel',
 'Petr'}

In [ ]:
sql_students_set.difference(python_students_set) # метод difference наход отличия между двумя множествами

{'Dima', 'Eva', 'Harry', 'Ignat', 'Jan', 'Kirill', 'Pavel'}

In [ ]:
sql_students_set.intersection(python_students_set) #метод intersectionv находит элементы которые есть в обоих множествах

{'Ivan', 'Kim', 'Nikita', 'Petr'}

##### Методы списков

Давайте посмотрим на все методы списка. Не нужно заучивать их наизусть. Но если вы столкнетесь с задачей, в которой надо будет что-нибудь сделать со списком, то перед тем, как пытаться самому придумать решение, посмотрите, может быть есть подходящий метод.

 * 1. `append()` — добавляет новый элемент в список.

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list) # [1, 2, 3, 4]

[1, 2, 3, 4]

* 2. `clear()` — удаляет все элементы списка:

In [ ]:
my_list = [1, 2, 3]
my_list.clear()
print(my_list) # []

[]

* 3. `copy()` — возвращает копию списка:

In [ ]:
my_list = [1, 2, 3]
new_list = my_list.copy()
print(new_list) # [1, 2, 3]

[1, 2, 3]

* 4. `count(item)`  — возвращает количество элементов item в списке:

In [ ]:
my_list = [1, 2, 2, 3, 2]
count = my_list.count(2)
print(count) # 3

3

* 5. `extend(iterable)` — добавляет элементы из другого списка в конец списка:

In [ ]:
my_list = [1, 2, 3]
my_list.extend([4, 5])
print(my_list) # [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

* 6. `index(item, start, end)`  — возвращает индекс первого элемента, равного item, в диапазоне от start до end:

In [ ]:
my_list = [1, 2, 2, 3, 2]
index = my_list.index(2, 2, 5)
print(index) # 2

2

* 7. `insert(index, item)`  — добавляет элемент item на позицию index в списке:

In [ ]:
my_list = [1, 2, 3]
my_list.insert(1, 4)
print(my_list) # [1, 4, 2, 3]

[1, 4, 2, 3]

* 8. `pop(index)` — удаляет и возвращает элемент на позиции index в списке:

In [ ]:
my_list = [1, 2, 3]
removed_item = my_list.pop(1)
print(my_list) # [1, 3]
print(removed_item) # 2

[1, 3]
2

* 9. `remove(item)` — удаляет первый элемент, равный item, из списка:

In [ ]:
my_list = [1, 2, 3, 2]
my_list.remove(2)
print(my_list) # [1, 3, 2]

[1, 3, 2]

* 10. `reverse()`  — переворачивает порядок следования элементов в списке:

In [ ]:
my_list = [1, 2, 3]
my_list.reverse()
print(my_list) # [3, 2, 1]

[3, 2, 1]

* 11. `sort(key, reverse)` — сортирует элементы в списке:

In [ ]:
my_list = [3, 1, 2]
my_list.sort()
print(my_list) # [1, 2, 3]
my_list.sort(reverse=True)
print(my_list) # [3, 2, 1]

[1, 2, 3]
[3, 2, 1]

##### Методы множеств

1. `add(element)` — добавляет элемент в множество.

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)  # выведет {'banana', 'cherry', 'orange', 'apple'}

{'orange', 'apple', 'banana', 'cherry'}

2. `union()` — объединяет два множества

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}

c = a.union(b)
print(c)  # {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

3. `clear()` — удаляет все элементы из множества.

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)  # выведет set()

set()

4. `copy()` — создает копию множества.

In [ ]:
fruits = {"apple", "banana", "cherry"}
new_fruits = fruits.copy()
print(new_fruits)  # выведет {'banana', 'cherry', 'apple'}

{'apple', 'banana', 'cherry'}

5. `difference()` — возвращает разность между двумя множествами.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
diff_set1_set2 = set1.difference(set2)
print(diff_set1_set2)  # выведет {1, 2, 3}

{1, 2, 3}

6. `discard(element)` — удаляет элемент из множества, если он присутствует. Если элемент отсутствует, то никаких ошибок не возникает. Просто ничего не происходит.

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)  # выведет {'cherry', 'apple'}

fruits = {"apple", "banana", "cherry"}
fruits.discard("aaaaaaaa")
print(fruits)  # выведет {'cherry', 'banana', 'apple'}

{'apple', 'cherry'}
{'apple', 'banana', 'cherry'}

7. `remove(element)` - Этот метод удаляет элемент из множества, если он присутствует. Если элемент отсутствует, то вызывается ошибка KeyError.

In [ ]:
my_set = {1, 2, 3}
my_set.remove(2)
print(my_set)  # Output: {1, 3}
my_set.remove(1)  # Вызовет ошибку KeyError, так как элемент 5 отсутствует

{1, 3}

8. `intersection()` — возвращает пересечение двух множеств.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_set = set1.intersection(set2)
print(intersection_set)  # выведет {4, 5}

{4, 5}

9. `isdisjoint()` — возвращает True, если два множества не имеют общих элементов.

In [ ]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
disjoint_sets = set1.isdisjoint(set2)
print(disjoint_sets)  # выведет True

True

10. `issubset()` — возвращает True, если одно множество является подмножеством друг

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

result = set2.issubset(set1)
print(result) # выведет True

True

#### Полезные функции

`len` — функция, которая возвращает количество элементов в последовательности:

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(len(my_list))  # выведет 5

my_set = {1, 1, 2, 2}
print(len(my_set))  # выведет 2

5
2

`max` — функция, которая возвращает максимальное значение из последовательности. Например:

In [ ]:
my_list = [5, 2, 8, 1, 9]
print(max(my_list))  # выведет 9

my_set = {5, 2, 8, 1, 9}
print(max(my_set))  # тоже выведет 9

9
9

`min` — функция, которая возвращает минимальное значение из последовательности. Например:

In [ ]:
my_list = [5, 2, 8, 1, 9]
print(min(my_list))  # выведет 1

my_set = {5, 2, 8, 1, 9}
print(min(my_set))  # тоже выведет 1

1
1

`sorted` — функция, которая сортирует последовательность. Она может принимать параметр `reverse=True`, чтобы отсортировать последовательность в обратном порядке (по убыванию). Например:

In [ ]:
my_list = [5, 2, 8, 1, 9]
sorted_list = sorted(my_list)
print(sorted_list)  # выведет [1, 2, 5, 8, 9]
sorted_list_descending = sorted(my_list, reverse=True)
print(sorted_list_descending)  # выведет [9, 8, 5, 2, 1]

# А вот если отсортировать множество, то получится список!

my_set = {1, 1, 2, 2}
print(sorted(my_set)) # выведет [1, 2]

[1, 2, 5, 8, 9]
[9, 8, 5, 2, 1]
[1, 2]

##### Задача

In [ ]:
my_list = [1,2,3,4,5]

my_list[0] # первый элемент списка

1

In [ ]:
my_list[1] # второй элемент списка

2

`my_list[START:STOP:STEP]` **срез от START до STOP с шагом STEP**

**Задание:**

* В my_list сохранен список как минимум с двумя элементами.
* В переменную first_item сохраните первый элемент списка.
* В переменную last_item сохраните последний элемент списка.
* В переменную reversed_list сохраните все элементы списка my_list в обратном порядке.
* В переменную even_items сохраните все элементы my_list с четными индексами.
  
  Примеры:

In [ ]:
my_list = ['Anatoly', 'Fedor', 1, 2, 3]

first_item = 'Anatoly'
last_item = 3
reversed_my_list = [3, 2, 1, 'Fedor', 'Anatoly']
even_items = ['Anatoly', 1, 3]

In [ ]:
# Мое выполнение

my_list = [1,2,"Ivan","Den","Anna"] #создаем список с минимум 2 элементами списка
first_item = 1 #сохраняем первый элемент списка
last_item = "Anna" #сохраняем последний элемент списка
reversed_list = ["Anna","Den","Ivan",2,1] #разворачиваем список
even_items = [1,"Ivan","Anna"] #сохраняем список только с четными индексами

In [ ]:
my_list

[1, 2, 'Ivan', 'Den', 'Anna']

In [ ]:
first_item

1

In [ ]:
last_item

'Anna'

In [ ]:
reversed_list

['Anna', 'Den', 'Ivan', 2, 1]

In [ ]:
even_items

[1, 'Ivan', 'Anna']

In [ ]:
my_list = [1, 2, 3, 4, 5]

first_item = my_list[0]
last_item = max(my_list)
even_items = my_list[0:6:2]
my_list.reverse()
reversed_list = my_list

In [ ]:
my_list

[5, 4, 3, 2, 1]

In [ ]:
first_item

1

In [ ]:
last_item

5

In [ ]:
reversed_list

[5, 4, 3, 2, 1]

In [ ]:
even_items

[1, 3, 5]

In [2]:
print("Изменения в Git")

Изменения в Git